# Зберігати node_modules у репозиторії - погана ідея
node_modules/

# Файли середовища
.env

# Файли журналів
logs/
*.log

# Файли, створені під час тестування
coverage/
.nyc_output/

# Файли, створені macOS Finder
.DS_Store

# Інші тимчасові файли
.tmp/
.temp/
