<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Profile">
    <h1>User Profile</h1>
    <p>First Name: <%= user.first_name %></p>
    <p>Last Name: <%= user.last_name %></p>
    <p>Email: <%= user.email %></p>
    <% console.log(user); %>
</div>
    <script src="/js/form.js"></script>
</body>
</html>
